.splash {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.splash__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.choose-logo {
  height: 400px;
}

.sumbit-form__sumbit {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 1px 4px #444;
  padding: 1.5rem 5rem;
  border-radius: 20px;
}

input[type="submit" i]:hover {
  transform: scale(1.1) rotate(4deg);
}

input[type="submit" i]:focus {
  outline: none;
}

.splash__color-picker {
  flex-grow: 2;
  margin-left: 15%;
}

@media only screen and (max-width: 768px) {
  .splash__body{
    width: 100%
  }

  .choose-logo {
    height: 200px;
  }

  .splash__color-picker {
    width: 335px !important;
    margin-left: 20%;
    padding-bottom: 2em;
  }

  .sumbit-form__sumbit {
    padding: 2rem;
  }
}
