.splash {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.splash__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.choose-logo {
  height: 400px;
}

form {
  align-self: center;
}

.sumbit-form__sumbit {
  font-size: 2rem;
  color: white;
  padding: 1.5rem 5rem;
  border-radius: 20px;
}

.splash__color-picker {
  align-self: center;
  margin-left: 7rem;
}

.splash__color-picker span div {
  width: 50px !important;
  height: 50px !important;
}

.splash__footer {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .splash__body{
    width: 100%
  }

  .choose-logo {
    height: 200px;
  }

  .splash__color-picker {
    width: 335px !important;
  }

  .sumbit-form__sumbit {
    padding: 2rem;
  }
}
